.view-story {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 50vw;
  height: 80vh;

  padding: 2rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.3);

  border-radius: 32px 32px 0 0;
  overflow: auto;

  z-index: -1;
}
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
