@import "tailwindcss";

@font-face {
  font-family: "Beautiful";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/OG_Renaissance_Secret-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OG_Renaissance_Secret-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/OG_Renaissance_Secret-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Inter", sans-serif;
  word-break: keep-all;
}

main {
  background-color: #000000;
  color: #fff;
  min-height: 100vh;
}
